 /*fonts*/

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

 /*shared styles*/
.display-flex{
    display: flex;
}

.text-primary{
    color: #E95A08;
}


 /*header overall*/
 
.header{
    max-width: 1140px;
    margin: 0 auto;   
}

/*main overall*/

.main{
    max-width: 1440px;
    margin: 0 auto;
}


 .navbar{
    justify-content: space-between;
    align-items: center;
 }

 .nav-item{
    list-style: none;
    margin: 2.2rem;
    font-size: 1rem;
    font-weight: bolder;
 }

 .nav-link{
    text-decoration: none;
 }

 .nav-color{
    color: #8987A1;
 }

 .nav-color-cart{
    color: #000000;
 }

 .nav-color-home{
    color: #252432;
    font-weight: bold;
 }


 /*banner styles*/

 .banner{
    margin-top: 120px;
 }

 .banner-writings{
    
 }

 .banner-title{
    font-size: 4rem;
 }

 .banner-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
 }

 .banner-img{
    width: 100%;
 }

 /*our plants styles*/

 .our-plants{
    margin-top: 120px;
    text-align: center;
 }

 .plants-writings{
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
 }

 .plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
 }

 .plants-title{
    font-weight: 800;
    font-size: 3.1rem;
 }

 /*Lover section*/
 
 .lover-section{
    justify-content: center;
    align-items: center;
    margin-top: 221px;
    gap: 60px;
 }


 .lover-title{

    font-size: 3.2rem;
    font-weight: 700;
 }

 .lover-description{

    font-size: 1.375rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
 }

 .lover-description li{

    margin-bottom: 20px;
 }

 /*newsletter section*/

 .newsletter-section{
    margin-top: 120px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(assets/news-letter-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    align-content: center;
 }

 .news-title{
    color: white;
    font-size: 3.1rem;
    font-weight: 700;
    text-align: center;
 }

 .btn-subscribe{
    background-color: #E95A08;
    color: white;
    padding: 19px 53px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
 }

 .text{

    width: 540px;
    padding: 19px 53px;
    margin-left: 300px;
 }


 /*footer styles*/

.footer-container{

    max-width: 1120px;
    margin: -50px 160px;
    gap: 110px;
}

.footer-midleft ul li{
    list-style: none;
    margin-bottom: 32px;
}

.footer-midright ul li{
    list-style: none;
    margin-bottom: 32px;
}

.footer-midleft ul li a{
    text-decoration: none;
    color: gray;
}
.footer-midright ul li a{
    text-decoration: none;
    color: gray
    ;
}

.icons img{
    margin-right: 15px;
}
 /*mobile device responsive*/

 @media screen and (max-width: 576px){

    .navbar, 
    .nav-links, 
    .banner{
        flex-direction: column;
    }
 }